body{
    /*margin:0;*/
    font-family: 'Poppins', sans-serif;
}
body a{
    text-decoration: none;
    color: black;
}
button#goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    padding: 5px 6px 0 6px;
}
button#goToTop:focus {
    outline-style: none;
}
header div.header-right{
    /*display: none;*/
}
header div.header-left {
    /*width: 100%;
    align-self: center;
    text-align: center;*/
    background-image: url(../media/webdev.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
}
header div.header-left img{
    margin-top: 30vh;
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
header nav a{
    color: white;
}
header nav{
    justify-content: center !important;
}

nav a.nav-link:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
section header h2{
    line-height: 6;
}

#bio article .profile-img{
    display: none;
}
#bio article div{
    text-align: justify;
}
#bio article div h3{
    margin-top: 0;
}

#work img:hover {
    cursor: pointer;
}

/* modal work*/
.modal-body a {
    color: darkblue;
    text-decoration-line: underline;
}
.modal-body span.material-symbols-outlined {
    font-size: 18px;
}
section#contact {
    padding-bottom: 80px;
}

#contact img.social-icon {
    width: 22px;
    margin-right: 10px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    color: #495057;
    padding: 5px;
    margin-top: 10px;
}
#contact form input.btn-submit {
    max-width: 100px;
    cursor: pointer;
    border: #6c757d 1px solid;
}
/* FOOTER */
footer{
    width: 100%;
    background-color: #212529;
    color: #ced4da;
}
footer a {
    color: #ced4da;
    font-size: 17px;
}
footer li{
    line-height: 1;
    margin-bottom: 10px;
    list-style: none;
}
footer a.btn-talk-to-me{
    background: white;
    color: black;
    padding: 10px;
    margin-top: 6px;
    display: inline-block;
}

/* FOR MOBILE */
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #bio article .profile-img{
        background-image: url(../media/profile.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(0.7) contrast(1.2) saturate(1.4);
        min-height: 400px;
        display: block;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
    header.main-header{
        min-height: 85vh;
    }
    header div.header-left {
        background: none;
    }
    header div.header-right{
        /*width: 50%;*/
        background-image: url('../media/webdev.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        min-height: 85vh;
    }
    header div.header-left img {
        max-width: inherit;
    }
    nav.navbar a {
        color: black;
    }
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}