body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
body a{
    text-decoration: none;
    color: black;
}
button#goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    padding: 5px 6px 0 6px;
}
button#goToTop:focus {
    outline-style: none;
}
header.main-header{
    margin: auto;
    display: flex;
    min-height: 85vh;
}
header div.header-left{
    width: 50%;
    align-self: center;
    text-align: center;
}
header div.header-left img{
    width: inherit;
    padding-bottom: 40px;
}
header div.header-right{
    width: 50%;
    background-image: url('../media/webdev.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
header nav li{
    list-style: none;
    display: inline;
    padding: 15px;
}
header nav ul{
    padding: 0;
}
nav a.nav-link:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
main{
    max-width: calc(1300px - 80px);
    margin: auto;
    padding: 0 40px;
}

section header h2{
    line-height: 6;
}
#bio article{
    display: flex;
}
#bio article img{
    max-width: calc(50% - 20px);
    max-height: 350px;
    margin-right: 50px;
}
#bio article div{
    text-align: justify;
}
#bio article div h3{
    margin-top: 0;
}

#work article {
    display: inline-block;
    padding: 20px;
}
#work img:hover {
    cursor: pointer;
}

/* modal work*/
.modal-body a {
    color: darkblue;
    text-decoration-line: underline;
}
.modal-body span.material-symbols-outlined {
    font-size: 18px;
}
section#contact {
    padding-bottom: 80px;
}
#contact article{
    width: 50%;
    float: left;
}
#contact img.social-icon {
    width: 22px;
    margin-right: 10px;
}

#contact form {
    width: 50%;
    display: inline-block;
    margin-top: -10px;
}
#contact form input,
#contact form textarea {
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    color: #495057;
    padding: 5px;
    margin-top: 10px;
}
#contact form input.btn-submit {
    max-width: 100px;
    cursor: pointer;
    border: #6c757d 1px solid;
}
/* FOOTER */
footer{
    width: 100%;
    position: absolute;
    background-color: #000;
    color: white;
    left: 0;
}